<div
  class="max-w-screen-sm w-full h-full mx-auto px-10 bg-slate-700"
>
  <h1 class="text-5xl text-white font-semibold pb-10 pt-5">Sign Up</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="pb-10">
    <div class="mb-6">
      <label for="displayName" class="block mb-2 text-md font-medium text-white"
        >Character Name</label
      >
      <input
        formControlName="displayName"
        type="text"
        id="displayName"
        class="bg-gray-700 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      />
      <div
        *ngIf="
          displayName?.invalid && (displayName?.dirty || displayName?.touched)
        "
        class="text-red-500"
      >
        <div *ngIf="displayName?.errors?.['required']">Name is required.</div>
        <div *ngIf="displayName?.errors?.['minlength']">
          Name must be at least 2 characters long.
        </div>
        <div *ngIf="displayName?.errors?.['maxlength']">
          Name must be less than 50 characters long.
        </div>
      </div>
    </div>

    <div class="mb-6">
      <label for="email" class="block mb-2 text-md font-medium text-white"
        >Email address</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-700 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      />
      <div
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="text-red-500"
      >
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Valid email is required.</div>
        <div *ngIf="email?.errors?.['emailAlreadyExists']">
          Email is already in use.
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-md font-medium text-white"
        >Password</label
      >
      <input
        formControlName="password"
        type="password"
        id="password"
        class="bg-gray-700 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="•••••••••"
        required
      />
      <div
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="text-red-500"
      >
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">
          Password must be at least 10 characters long.
        </div>
        <div *ngIf="password?.errors?.['maxlength']">
          Password must be less than 100 characters long.
        </div>
      </div>
    </div>
    <!--<div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input
        id="terms_agreement"
          type="checkbox"
          value=""
          class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
          />
        </div>
        <label
        for="terms_agreement"
        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >I agree with the
        <a href="#" class="text-blue-600 hover:underline dark:text-blue-500"
        >terms and conditions</a
        >.</label
        >
      </div> -->
    <button
      type="submit"
      [disabled]="!userForm.valid"
      class="text-white bg-orange-600 hover:bg-orange-800 focus:ring-4 focus:outline-none disabled:cursor-not-allowed focus:ring-blue-300 font-medium rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center dark:bg-emerald-800 dark:hover:bg-emerald-900 dark:focus:ring-blue-800"
    >
      Submit
    </button>
  </form>
</div>
