<div *ngIf="isLoginModalVisible || isSignupModalVisible" class="grayout"></div>
<section class="bg-slate-800 h-screen">
    <div class="bg-slate-800 py-10 px-10 shadow-2xl mx-auto max-w-screen-xl">
        <div class="text-gray-50 bg-slate-700 border-gray-400 rounded-md shadow-2xl p-8 md:p-12 mb-8">
            <h1 class="text-3xl md:text-4xl font-bold pl-8 mb-2">Task RPG</h1>
            <p class="text-lg font-normal pl-8 mb-6">Utilize gameification to launch your task list to another level!</p>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="text-gray-50 bg-slate-700 border-gray-400 rounded-md shadow-2xl p-8 md:p-12">
                <h2 class="text-2xl font-bold pl-8 mb-2">Start with a personalized Character</h2>
                <p class="text-lg font-normal pl-8 mb-4">Add screen capture of finished character screen.</p>
            </div>
            <div class="text-gray-50 bg-slate-700 border-gray-400 rounded-md shadow-2xl p-8 md:p-12">
                <h2 class="text-2xl font-bold pl-8 mb-2">Track your tasks using Quests</h2>
                <p class="text-lg font-normal pl-8 mb-4">Add screen capture of finished quest screen.</p>
            </div>
            <div class="text-gray-50 bg-slate-700 border-gray-400 rounded-md shadow-2xl p-8 md:p-12">
                <button (click)="openSignupModal()" type="button" class="button text-lg p-8 m-auto w-full">Sign Up</button>
            </div>
            <div class="text-gray-50 bg-slate-700 border-gray-400 rounded-md shadow-2xl p-8 md:p-12">
                <button (click)="openLoginModal()" type="button" class="button text-lg p-8 w-full">Log In</button>
            </div>
        </div>
        <app-signup
        [isSignupVisible]="isSignupModalVisible"
        (closeEventEmitter)="closeSignupModal()"
        (openLoginEventEmitter)="openLoginModal()"
        ></app-signup>
        <app-login
        [isLoginVisible]="isLoginModalVisible"
        (closeEventEmitter)="closeLoginModal()"
        ></app-login>
    </div>
</section>
