<footer
  class="fixed bottom-0 w-full flex items-center bg-slate-700 shadow-2xl border-t-2 border-slate-600"
>
  <div class="p-3 w-full flex justify-between">
    <span class="text-sm text-gray-200"
      >© 2023 TaskRpg All Rights Reserved.
    </span>
    <ul class="flex flex-wrap text-sm pr-4 font-medium text-gray-200">
      <li>
        <a href="#" class="hover:underline me-4 md:me-12">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
