.button {
  @apply bg-cyan-700 font-medium rounded-md;
  box-shadow: 0 6px #164e63;
  transition-duration: 50ms;
  border: none;
}

.button:hover {
  @apply bg-cyan-800;
}

.button:active {
  box-shadow: 0 6px #164e63;
  transform: translateY(4px);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
